html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.aline {
  float: center;
  width: 100%;
  height: 250px;
  margin: auto;
}

.legend {
  float: center;
  width: 900px;
  height: 30px;
  margin: auto;
}

.unload {
  width: 225px;
  height: 250px;
  float: left;
  background: lightgray;
  border-style: solid;
  border-color: white;
  border-width:2px;
  border-radius:20px;
}

.load {
  margin-right: auto;
  margin-left: auto;
  background: lightgray;
  border-radius:20px;
  width: 580px;
  height: 650px;
  float: center;
  font-size:20px;
}

.load path:hover{
fill:#9b59b6;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.title{
font-size:16px;
}
